<h1><%= @article.title %></h1>
<%= raw @article.content.html_safe %><br><br>
<!-- tinyMCE.activeEditor.getContent({format : 'raw'}); -->
<p>Written by <%= link_to @article.author.username, user_path(@article.author) %></p><!-- eventually a link to author/editor user profile -->



<p>|Category| <%= link_to @article.category.name, category_path(@article.category) %></p>
<!-- eventually this should be a link to go to the category show -->
