<h1><%= @article.title %></h1>
<%= @article.content %>
<%= article.author.name %>
<!-- eventually a link to author/editor user profile -->



<p><%= article.category.name %></p>
<!-- eventually this should be a link to go to the category show -->
