<h1>Matt Wiki</h1>

<% if logged_in? %>
  <%= link_to 'Logout', session_path(current_user.id), method: :delete %>
<% else %>
  <%= link_to 'Registration', new_user_path %>
  <%= link_to 'Login', new_session_path %>
<% end %>

<br><br>
<h2>Categories</h2>
<% @categories.each do |category| %>
  <%= link_to category.name, category %><br>
<% end %>
