<% @featured_article = Article.find_by_featured(true) %>

<% if @featured_article %>
  <div>
    <h3>Featured Article</h3>
    Title: <%= @featured_article.versions.last.title %><br>
    Author: <%= @featured_article.versions.last.author.username %><br>
    Content: <%= @featured_article.versions.last.content %><br>
  </div>
<% end %>



