<% if current_admin %>
  <h1>Admin Page:</h1>

  <!-- Show all articles (newest version)-->
  <div class='cols s5'>
  <form name='featured' method='GET' action="/articles/featured">
    <!-- <input type='hidden' name='_method' value='PUT'> -->

    <select class='browser-default' name="articles">
      <% @articles.each do |article| %>
        <option value='<%= article.id %>'><%= article.versions.last.title %></option>
      <% end %>
      <br><input type="submit">
    </select>
  </form><br>
  </div>

  <footer><%= link_to 'Admin Delete', destroyAdmin_path, method: :delete %></footer>
<% end %>
